{% extends "gym_backend.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<div id="content-container">
    <div class="row">

        <div class="col-md-12">

            <div class="portlet">

                <div class="portlet-header">

                    <h3>
                        {%block title%}Add New Route{%endblock%}
                    </h3>

                </div> <!-- /.portlet-header -->
                <div class="portlet-content">
                    {{ form.non_field_errors }}
                    <form method="POST" action="" enctype="multipart/form-data">{%csrf_token%}
                        {%if gym.named_routes%}
                        <div class="row">
                                {%bootstrap_field form.name%}
                        </div>
                        {%endif%}
                        <div class="row">
                                {%bootstrap_field form.type%}
                                {%bootstrap_field form.grade%}
                                <label>Color(s)</label><br/>
                                {{form.color1}}
                                {{form.color2}}
                        </div>
                        <div class="row">
                                {% bootstrap_field form.date_set %}
                                {% bootstrap_field form.setter %}
                        </div>
                        <div class="row">
                                {%bootstrap_field form.location%}
                                {%bootstrap_field form.status%}
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="{%if form.instance.image%}{{form.instance.image.url}}{%else%}http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image{%endif%}" alt="Placeholder" /></div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" name="image"/></span>
                                        <a href="#" class="bftn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                                {%bootstrap_field form.notes%}
                        </div> 
                        <div class="row">
                            <div class="col-sm-5">
                                <input type="submit" class="btn btn-primary" value="Save Route"/>
                                {%block extra_buttons%}
                                <input type="submit" class="btn btn-primary" name="_addanother" value="Save and add another"/>
                                {%endblock%}
                                <a href="{%url 'gym_dashboard' gym=gym.slug%}" class="btn btn-tertiary">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div> <!-- /.portlet-content -->
            </div> <!-- /.portlet -->
        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
</div>
{% endblock %}
