{% extends "gym_backend.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<div id="content-container">
    <div class="row">

        <div class="col-md-12">

            <div class="portlet">

                <div class="portlet-header">

                    <h3>
                        Remove Employee
                    </h3>

                </div> <!-- /.portlet-header -->
                <form method="POST" action="">{%csrf_token%}
                    <div class="portlet-content">
                        Are you sure you want to remove {{object.get_full_name}} from staff?
                        {%buttons%}
                        <button type="submit" class="btn btn-primary">
                            Submit
                        </button>
                        {% endbuttons %}
                    </div> <!-- /.portlet-content -->
                </div> <!-- /.portlet -->
            </form>

        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
</div>
{% endblock %}
