<div id="search">
			<form>
				<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

				<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
			</form>		
		</div> <!-- #search -->
	
		<nav id="sidebar">		
			
			<ul id="main-nav" class="open-active">			

				<li class="active">				
					<a href="./index.html">
						<i class="fa fa-dashboard"></i>
						Dashboard
					</a>				
				</li>
				<li>				
					<a href="#">
						<i class="fa fa-briefcase"></i>
						Routes
					</a>				
				</li>
				<li>				
					<a href="#">
						<i class="fa fa-gears"></i>
						Settings
					</a>				
				</li>
				<li>				
					<a href="#">
						<i class="fa fa-sign-out"></i>
						Sign Out
					</a>				
				</li>
			</ul>