{% extends "gym_frontend.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
{% block content %}
<div id="content-container">
    <div class="row">

        <div class="col-md-12">

            <div class="portlet">

                <div class="portlet-header">

                    <h3>
                        Add New Route
                    </h3>

                </div> <!-- /.portlet-header -->
                {{ form.non_field_errors }}
                <form method="POST" action="">{%csrf_token%}
                    <div class="portlet-content">
                        <div class="row">
                            <div class="col-sm-3">
                                {%bootstrap_field form.name%}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                {%bootstrap_field form.type%}
                            </div>
                            <div class="col-sm-4">
                                {%bootstrap_field form.difficulty%}
                            </div>
                            <div class="col-sm-4">
                                <label>Color(s)</label><br/>
                                {{form.color1}}
                                {{form.color2}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {% bootstrap_field form.date_set %}
                            </div>
                            <div class="col-sm-4">
                                {% bootstrap_field form.setter %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                {%bootstrap_field form.location%}
                            </div>
                            <div class="col-sm-4">
                                {%bootstrap_field form.status%}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="fileupload fileupload-new" data-provides="fileupload">
                                    <div class="fileupload-new thumbnail" style="width: 200px; height: 150px;"><img src="http://www.placehold.it/200x150/EFEFEF/AAAAAA&amp;text=no+image" alt="Placeholder" /></div>
                                    <div class="fileupload-preview fileupload-exists thumbnail" style="max-width: 200px; max-height: 150px; line-height: 20px;"></div>
                                    <div>
                                        <span class="btn btn-default btn-file"><span class="fileupload-new">Select image</span><span class="fileupload-exists">Change</span><input type="file" /></span>
                                        <a href="#" class="btn btn-default fileupload-exists" data-dismiss="fileupload">Remove</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                {%bootstrap_field form.notes%}
                            </div>
                        </div> 
                        <div class="row">
                            <div class="col-sm-4">
                                <input type="submit" class="btn btn-primary" value="Save Route"/>
                                <a href="{%url 'gym_dashboard' gym=gym.slug%}" class="btn btn-tertiary">Cancel</a>
                            </div>
                        </div>
                    </div> <!-- /.portlet-content -->
                </div> <!-- /.portlet -->
            </form>

        </div> <!-- /.col-md-12 -->
    </div> <!-- /.row -->
</div>
{% endblock %}
