{%extends 'base.html'%}
{%load gym_extras %}
{%load staticfiles%}
{%block logo%}
<h1 id="site-logo">
	<a href="/grg">
		<img src="{% static 'img/logos/grg_logo.png' %}" alt="Site Logo" width="195" height="40" />
	</a>
</h1>
{%endblock%}
{%block sidebar%}
<div id="search">
	<form>
		<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

		<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
	</form>		
</div> <!-- #search -->

<nav id="sidebar">		
	
	<ul id="main-nav" class="open-active">			

		<li {%if request.resolver_match.url_name == "gym_page"%}class="active"{%endif%}>				
			<a href="{%url 'gym_page' gym=gym.slug%}">
				<i class="fa fa-building-o"></i>
				{{gym.name}}
			</a>				
		</li>
		<li {%if request.resolver_match.url_name == "gym_routes"%}class="active"{%endif%}>				
			<a href="{%url 'gym_routes' gym=gym.slug%}">
				<i class="fa fa-briefcase"></i>
				Routes
			</a>				
		</li>
		{%if user.gym == gym or gym.owner == user%}
		<li>				
			<a href="{%url 'gym_dashboard' gym=gym.slug%}">
				<i class="fa fa-sign-in"></i>
				Admin
			</a>				
		</li>
		{%endif%}
	</ul>
</nav>
{%endblock%}

{%block header%}
<div id="content-header">
	<h1 class="pull-left">{{gym.name}}</h1>
	<div class="pull-right gym-info">
		<h3>352-335-4789</h3>
		<h5>704 South Main Street<br/>Gainesville, FL 32601</h5>
	</div>
</div> <!-- #content-header -->	
{%endblock%}

{%block url%}{%url 'gym_page' gym=gym.slug%}{%endblock%}
