{%extends 'gym_backend.html'%}
{% load staticfiles %}
{%block customjs%}
<script src="{%static 'js/stats.js'%}"></script>
{%endblock%}
{% block content %}
<div id="content-container">

	<div class="row">

		<div class="col-md-12">

			<div class="row">

				<div class="col-md-6">

					<div class="portlet">

						<div class="portlet-header">

							<h3>
								<i class="fa fa-group"></i>
								Recent Routes
							</h3>

							<ul class="portlet-tools pull-right">
								<li>
									<a href="#" />
									<button class="btn btn-sm btn-default">
										See All
									</button>
								</a>
							</li>
						</ul>

					</div> <!-- /.portlet-header -->

					<div class="portlet-content">


						<div class="table-responsive">

							<table id="user-signups" class="table table-striped table-checkable"> 
								<thead> 
									<tr> 
										<th class="align-center">Edit</th> 
										<th class="align-center">Color</th> 
										<th>Rating</th> 
										<th>Location</th>
										<th>Setter</th>
										<th class="hidden-md">Status</th> 
									</tr> 
								</thead> 

								<tbody> 
									<tr class=""> 
										<td class="align-center">
											<a href="javascript:void(0);" class="btn btn-xs btn-primary" data-original-title="Approve">
												<i class="fa fa-pencil"></i>
											</a> 
										</td> 
										<td class="align-center"> 
											<div class="color-box"></div>
											<div class="color-box"></div>
										</td>
										<td>V6</td> 
										<td>Back Wall</td>
										<td>JH</td>
										<td class="hidden-md"><span class="label label-success">Complete</span></td> 
									</tr> 
									<tr class="">
										<td class="align-center">
											<a href="javascript:void(0);" class="btn btn-xs btn-primary" data-original-title="Approve">
												<i class="fa fa-pencil"></i>
											</a> 
										</td>
										<td class="align-center">
											<div class="color-box"></div>
										</td>
										<td>V6</td> 
										<td>Back Wall</td>
										<td>JH</td>
										<td class="hidden-md"><span class="label label-default">Incomplete</span>
										</td>
									</tr>
									<tr class=""> 
										<td class="align-center">
											<a href="javascript:void(0);" class="btn btn-xs btn-primary" data-original-title="Approve">
												<i class="fa fa-pencil"></i>
											</a> 
										</td>
										<td class="align-center">  
											<div class="color-box"></div>
										</td>
										<td>V6</td> 
										<td>Back Wall</td>
										<td>JH</td>
										<td class="hidden-md"><span class="label label-success">Complete</span></td>
									</tr> 
									<tr class="">
										<td class="align-center">
											<a href="javascript:void(0);" class="btn btn-xs btn-primary" data-original-title="Approve">
												<i class="fa fa-pencil"></i>
											</a> 
										</td> 
										<td class="align-center">  
											<div class="color-box"></div>
										</td>
										<td>V6</td> 
										<td>Back Wall</td>
										<td>JH</td>
										<td class="hidden-md"><span class="label label-success">Complete</span></td>					
									</tr> 
									<tr class="">
										<td class="align-center">
											<a href="javascript:void(0);" class="btn btn-xs btn-primary" data-original-title="Approve">
												<i class="fa fa-pencil"></i>
											</a> 
										</td> 
										<td class="align-center"> 
											<div class="color-box"></div>
										</td>
										<td>V6</td> 
										<td>Back Wall</td>
										<td>JH</td>
										<td class="hidden-md"><span class="label label-success">Complete</span></td> 
									</tr>
									
								</tbody> 
							</table>


						</div> <!-- /.table-responsive -->
						
					</div> <!-- /.portlet-content -->

				</div> <!-- /.portlet -->

			</div> <!-- /.col-md-6 -->
			{%if gym.setters%}
			<div class="col-md-6">

				<div class="portlet">

					<div class="portlet-header">

						<h3>
							<i class="fa fa-bar-chart-o"></i>
							Setters
						</h3>

					</div> <!-- /.portlet-header -->

					<div class="portlet-content">

						<div id="setters-chart" class="chart-holder"></div>							

					</div> <!-- /.portlet-content -->

				</div> <!-- /.portlet -->

			</div> <!-- /.col -->
			{%endif%}
			{%if gym.types%}
			<div class="col-md-6">

				<div class="portlet">

					<div class="portlet-header">

						<h3>
							<i class="fa fa-bar-chart-o"></i>
							Route Types
						</h3>

					</div> <!-- /.portlet-header -->

					<div class="portlet-content">

						<div id="types-chart" class="chart-holder"></div>							

					</div> <!-- /.portlet-content -->

				</div> <!-- /.portlet -->

			</div> <!-- /.col -->
			{%endif%}
			{%if gym.bouldering_grades%}
			<div class="col-md-6">

				<div class="portlet">

					<div class="portlet-header">

						<h3>
							<i class="fa fa-bar-chart-o"></i>
							Bouldering
						</h3>

					</div> <!-- /.portlet-header -->

					<div class="portlet-content">

						<div id="bouldering_grades-chart" class="chart-holder"></div>							

					</div> <!-- /.portlet-content -->

				</div> <!-- /.portlet -->

			</div> <!-- /.col -->
			{%endif%}
			{%if gym.top_rope_grades%}
			<div class="col-md-6">

				<div class="portlet">

					<div class="portlet-header">

						<h3>
							<i class="fa fa-bar-chart-o"></i>
							Top Rope
						</h3>

					</div> <!-- /.portlet-header -->

					<div class="portlet-content">

						<div id="top_rope_grades-chart" class="chart-holder"></div>							

					</div> <!-- /.portlet-content -->

				</div> <!-- /.portlet -->

			</div> <!-- /.col -->
			{%endif%}
			{%if gym.locations%}
			<div class="col-md-6">

				<div class="portlet">

					<div class="portlet-header">

						<h3>
							<i class="fa fa-bar-chart-o"></i>
							Locations
						</h3>

					</div> <!-- /.portlet-header -->

					<div class="portlet-content">

						<div id="locations-chart" class="chart-holder"></div>							

					</div> <!-- /.portlet-content -->

				</div> <!-- /.portlet -->

			</div> <!-- /.col -->
			{%endif%}

	</div> <!-- /.col-md-12 -->

</div> <!-- /.row -->

</div> <!-- /#content-container -->
{%endblock%}
