{% extends "gym_frontend.html" %}
{% load staticfiles %}
{% block content %}


<div id="content-container">


	<div class="row">

		<div class="col-md-9">

			<div class="row">

				<div class="col-md-4 col-sm-5">

					<div class="thumbnail">
						<img src="{{route.image.url}}" alt="Profile Picture" />
					</div> <!-- /.thumbnail -->

					<div class="list-group"> 

						<div id="route-rate">
							<i class="fa fa-star-o"></i>
							<i class="fa fa-star-o"></i> 
							<i class="fa fa-star-o"></i> 
							<i class="fa fa-star-o"></i> 
							<i class="fa fa-star-o"></i>
							<br/>
							Rate it!
						</div>

						<a href="javascript:;" class="list-group-item">
							<i class="fa fa-check"></i> &nbsp;&nbsp;
							Sent it!
						</a> 

						<a href="javascript:;" class="list-group-item">
							<i class="fa fa-heart"></i> &nbsp;&nbsp;
							Add to Favorites
						</a> 

						<a href="javascript:;" class="list-group-item">
							<i class="fa fa-list"></i> &nbsp;&nbsp;
							Sender List
						</a> 

						<a href="javascript:;" class="list-group-item">
							<i class="fa fa-link"></i> &nbsp;&nbsp;
							Share Route
						</a> 
					</div> <!-- /.list-group -->

				</div> <!-- /.col -->


				<div class="col-md-8 col-sm-7">
					{%if route.name%}<div id="route-title">{{route.name}}</div>{%endif%}
					<div id="route-title">{{route.get_grade_display}}</div>
					{%if route.color1 != "#ffffff"%}<div class="color-box-lg" style="background-color:{{route.color1}}"></div>{%endif%}
					{%if route.color2 != "#ffffff"%}<div class="color-box-lg" style="background-color:{{route.color2}}"></div>{%endif%}
					<h4>Location: {{route.location}}</h4>
					{%if route.setter%}<h5>Set by {{route.setter.get_full_name|default:route.setter.username}}</h5>{%else%}<h5>Set by Unknown</h5>{%endif%}
					<h5>Set on {{route.date_set}}</h5>
					{%if route.date_torn%}<h5>Torn on {{route.date_torn}}</h5>{%endif%}
				</div>

			</div>

		</div>


		<div class="col-md-3 col-sm-6 col-sidebar-right">

			<h4>Route Statistics</h4>

			<div class="list-group">  

				<a href="javascript:;" class="list-group-item"><h3 class="pull-right"><i class="fa fa-eye"></i></h3>
					<h4 class="list-group-item-heading">38,847</h4>
					<p class="list-group-item-text">Route Views</p>
					
				</a>

				<a href="javascript:;" class="list-group-item"><h3 class="pull-right"><i class="fa fa-check"></i></h3>
					<h4 class="list-group-item-heading">3,482</h4>
					<p class="list-group-item-text">Route Sends</p>

				</a>

				<a href="javascript:;" class="list-group-item"><h3 class="pull-right"><i class="fa fa-star"></i></h3>
					<h4 class="list-group-item-heading">4.2 out of 5</h4>
					<p class="list-group-item-text">Rating (800 votes)</p>

				</a>
			</div> <!-- /.list-group -->

		</div>

	</div> <!-- /.row -->

</div> <!-- /#content-container -->
{% endblock %}
