{%extends 'gym_frontend.html'%}
{%block content%}
<div id="content-container">
	<div class="row">

		<div class="col-md-12">

			<div class="portlet">

				<div class="portlet-header">

					<h3>
						Routes
					</h3>

					<ul class="portlet-tools pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
								Sort by: Most Recent
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								<li>
									<a href="#">Difficulty</a>
								</li>
								<li>
									<a href="#">Location</a>
								</li>
								<li>
									<a href="#">User Rating</a>
								</li>
							</ul>
						</div>
					</ul>

				</div> <!-- /.portlet-header -->

				<div class="portlet-content">


					<div class="table-responsive">

					<table id="user-signups" class="table table-striped table-checkable"> 
						<thead> 
							<tr> 
								{%if named_routes%}<th class="align-center">Name</th>{%endif%}
								<th class="align-center">Color</th> 
								<th>Grade</th> 
								<th>Location</th>
								<th>Setter</th>
								<th class="hidden-xs">User Rating</th> 
							</tr> 
						</thead> 

						<tbody> 
							{%for route in object_list%}
							<tr onclick="document.location = '{%url 'gym_route' gym=gym.slug route=route.slug%}'">
								{%if named_routes%}<td>{{route.name}}</td>{%endif%} 
								<td class="align-center"> 
									{%if route.color2 != "#ffffff"%}<div class="color-box" style="background-color:{{route.color1}}"></div>{%endif%}
									{%if route.color2 != "#ffffff"%}<div class="color-box" style="background-color:{{route.color2}}"></div>{%endif%}
								</td>
								<td>{{route.formatted_difficulty}}</td> 
								<td>{{route.location}}</td>
								<td>{{route.setter.initials}}</td>
								<td class="hidden-xs">{rating}</td> 
							</tr>
							{%endfor%}
						</tbody> 
					</table>
							
					</div> <!-- /.table-responsive -->
					
				</div> <!-- /.portlet-content -->

			</div> <!-- /.portlet -->

		</div> <!-- /.col-md-6 -->
	</div> <!-- /.row -->
</div>
{%endblock%}
