{% extends "launch_base.html" %}
{% load staticfiles %}
{% block content %}
<div id="content-container">
	<div class="col-md-12">
		<div class="portlet">
			<div class="portlet-header">
				<h3>
					About Dynoroute
				</h3>
			</div> <!-- /.portlet-header -->

			<div class="portlet-content">

				Dynoroute is a premium route inventory and tracking solution for indoor climbing gyms. Interested in using Dynoroute for your gym?  Contact us at <a href="mailto:sales@dynoroute.com">sales@dynoroute.com</a> for more information or to request a demo.

			</div> <!-- /.portlet-content -->

		</div> <!-- /.portlet -->
	</div>

</div> <!-- /#content-container -->
{% endblock %}
