{%extends 'base.html'%}
{% load staticfiles %}
{%load gym_extras %}
{%block logo%}
<h1 id="site-logo">
	<a href="/grg/admin">
		<img src="{%if gym.logo%}{{gym.logo.url}}{%else%}{% static 'img/logos/logo.png' %}{%endif%}" alt="Site Logo" width="195" height="40" />
	</a>
</h1>
{%endblock%}
{%block sidebar%}
<div id="search">
	<form>
		<input class="form-control input-sm" type="text" name="search" placeholder="Search..." />

		<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
	</form>		
</div> <!-- #search -->

<nav id="sidebar">		
	
	<ul id="main-nav" class="open-active">			

		<li {%if request.resolver_match.url_name == "gym_dashboard"%}class="active"{%endif%}>				
			<a href="{%url 'gym_dashboard' gym=gym.slug%}">
				<i class="fa fa-dashboard"></i>
				Dashboard
			</a>				
		</li>
		{% if user.perms.routes_view %}
		<li {%if request.resolver_match.url_name == "gym_routes_admin"%}class="active"{%endif%}>				
			<a href="{%url 'gym_routes_admin' gym=gym.slug%}">
				<i class="fa fa-briefcase"></i>
				Routes
			</a>				
		</li>
		{%endif%}
		{% if user.perms.routes_manage%}
		<li {%if request.resolver_match.url_name == "gym_route_add"%}class="active"{%endif%}>				
			<a href="{%url 'gym_route_add' gym=gym.slug%}">
				<i class="fa fa-plus"></i>
				Add Route
			</a>				
		</li>
		{%endif%}
		{%if user.perms.staff_manage%}
		<li {%if request.resolver_match.url_name == "gym_staff_admin"%}class="active"{%endif%}>				
			<a href="{%url 'gym_staff_admin' gym=gym.slug%}">
				<i class="fa fa-users"></i>
				Gym Staff
			</a>				
		</li>
		{%endif%}
		{%if user.perms.owner%}
		<li {%if request.resolver_match.url_name == "gym_settings"%}class="active"{%endif%}>				
			<a href="{%url 'gym_settings' gym=gym.slug%}">
				<i class="fa fa-cogs"></i>
				Gym Settings
			</a>				
		</li>
		{%endif%}
		<li>				
			<a href="{%url 'gym_page' gym=gym.slug%}">
				<i class="fa fa-sign-out"></i>
				Exit Admin
			</a>				
		</li>
	</ul>
</nav>
{%endblock%}

{%block header%}
<div id="content-header">
	<h1 class="pull-left">{{gym.name}}</h1>
</div> <!-- #content-header -->	
{%endblock%}

{%block url%}{%url 'gym_page' gym=gym.slug%}{%endblock%}
