{%extends 'base.html'%}
{%load gym_extras %}
{%load staticfiles%}

{%block customjs%}
<script>
GYM = "{{gym.slug}}"
ROUTE = "{{route.slug}}"
{%if user.is_authenticated%}auth=true{%else%}auth=false{%endif%}
</script>
{%endblock%}

{%block logo%}
<h1 id="site-logo">
	<a href="/grg">
		<img src="{%if gym.logo%}{{gym.logo.url}}{%else%}{% static 'img/logos/logo.png' %}{%endif%}" alt="Site Logo" width="195" height="40" />
	</a>
</h1>
{%endblock%}
{%block sidebar%}
<div id="search">
	<form>
		<input class="form-control input-sm" type="text" name="search" placeholder="Search for Gyms..." />

		<button type="submit" id="search-btn" class="btn"><i class="fa fa-search"></i></button>
	</form>		
</div> <!-- #search -->

<nav id="sidebar">		
	
	<ul id="main-nav" class="open-active">			

		<li {%if request.resolver_match.url_name == "gym_page"%}class="active"{%endif%}>				
			<a href="{%url 'gym_page' gym=gym.slug%}">
				<i class="fa fa-home"></i>
				{{gym.name}}
			</a>				
		</li>
		<li {%if request.resolver_match.url_name == "gym_routes"%}class="active"{%endif%}>				
			<a href="{%url 'gym_routes' gym=gym.slug%}">
				<i class="fa fa-briefcase"></i>
				Routes
			</a>				
		</li>
		<li>				
			<a href="{{gym.website_url}}">
				<i class="fa fa-building-o"></i>
				Go to Gym's Site
			</a>				
		</li>
		{%if user.gym%}
		<li>				
			<a href="{%url 'gym_dashboard' gym=user.gym.slug%}">
				<i class="fa fa-sign-in"></i>
				Admin
			</a>				
		</li>
		{%endif%}
	</ul>
</nav>
{%endblock%}

{%block header%}
<div id="content-header">
	<div class="pull-left gym-info-left">
		<h3>{{gym.name}}</h3>
		{%if user.is_authenticated%}
		<button id="gym-follow" type="button" class="btn btn-default {%if followed%}active{%endif%}">
			{%if not followed%}
			<i class="fa fa-plus"></i>
			Follow Gym
			{%else%}
			<i class="fa fa-check"></i>
			Following
			{%endif%}
		</button>
		{%else%}
		<a href="{%url 'account_login'%}?next={{request.path|urlencode}}" type="button" class="btn btn-default">
			<i class="fa fa-plus"></i>
			Follow Gym
		</a>
		{%endif%}
	</div>
	<div class="pull-right gym-info-right">
		<h3>352-335-4789</h3>
		<h5>704 South Main Street<br/>Gainesville, FL 32601</h5>
	</div>
</div> <!-- #content-header -->	
{%endblock%}

{%block url%}{%url 'gym_page' gym=gym.slug%}{%endblock%}
