{%extends 'gym_backend.html'%}
{%block content%}
<div id="content-container">
	<div class="row">

		<div class="col-md-12">

			<div class="portlet">
				<form method="POST">{%csrf_token%}
				<div ng-app="dynoroute" ng-controller="RoutesController">
				<div class="portlet-header">

					<h3>
						Routes
					</h3>

					<ul class="portlet-tools" ng-if="tearable" ng-cloak>
							<input type="submit" name="_tear" class="btn btn-sm" value="Tear Selected"/>
					</ul>
					<ul class="portlet-tools" ng-if="dismissible" ng-cloak>
							<input type="submit" name="_dismiss" class="btn btn-sm" value="Dismiss Flags"/>
					</ul>
					<ul class="portlet-tools" ng-if="checked" ng-cloak>
						<input type="submit" name="_delete" class="btn btn-sm" value="Delete Selected"/>
					</ul>
					<ul class="portlet-tools pull-right">
						<a href="{%url 'gym_routes_print' gym=gym.slug%}" class="btn btn-sm" target="_self">
							Print Routes
						</a>
					</ul>

					<ul class="portlet-tools pull-right">
						<div class="btn-group">
							<button type="button" class="btn btn-sm dropdown-toggle" data-toggle="dropdown">
								Sort by: {{sort_name}}
								<span class="caret"></span>
							</button>
							<ul class="dropdown-menu">
								{%if sort != "-date_set"%}
								<li>
									<a href="?sort=-date_set">Most Recent</a>
								</li>
								{%endif%}
								{%if sort != "difficulty"%}
								<li>
									<a href="?sort=grade">Difficulty</a>
								</li>
								{%endif%}
								{%if sort != "location"%}
								<li>
									<a href="?sort=location">Location</a>
								</li>
								{%endif%}
								{%if sort != "-score"%}
								<li>
									<a href="?sort=-score">User Rating</a>
								</li>
								{%endif%}
							</ul>
						</div>
					</ul>

				</div> <!-- /.portlet-header -->

				
				<div class="portlet-content">


					<div class="table-responsive">

					<table id="gym-routes" class="table table-striped table-checkable"> 
						<thead> 
							<tr> 
								{% if user.perms.routes_manage %}<th></th>{%endif%}
								{%if gym.named_routes%}
								<th class="align-center hidden-xs">Name</th>
								{%endif%}
								<th class="align-center">Color</th> 
								<th>Grade</th> 
								<th>Location</th>
								<th>Setter</th>
								<th class="hidden-xs">User Rating</th>
								<th class="hidden-xs">Status</th> 
							</tr> 
						</thead> 

						<tbody> 
							{%for route in object_list%}
							<tr class="{%if route.num_flags%}danger{%endif%} {% if user.perms.routes_manage %}clickable{%endif%}" {% if user.perms.routes_manage %}onclick="document.location = '{%url 'gym_route_edit' gym=gym.slug route=route.slug%}'"{%endif%}>
								{% if user.perms.routes_manage %}
								<td class="nopropagate"><input type="checkbox" name="route_{{route.slug}}" ng-model="route{{route.slug}}" ng-click="check(route{{route.slug}});{%if route.num_flags%}dismiss(route{{route.slug}}){%endif%}{%if route.status != 'torn'%};tear(route{{route.slug}}){%endif%};$event.stopPropogation()"/></td>{%endif%}
								{%if gym.named_routes%}<td class="hidden-xs">{{route.name}}</td>{%endif%} 
								<td class="align-center"> 
									{%for color in route.colors%}
									<div class="color-box" style="background-color:{{color}}"></div>
									{%endfor%}
								</td>
								<td>{{route.get_grade_display}}</td> 
								<td>{{route.location}}</td>
								<td>{%if route.setter%}{{route.setter.display}}{%endif%}</td>
								<td class="hidden-xs">{{route.score|floatformat:1}}</td> 
								{%if route.status == "complete"%}
								<td class="hidden-xs"><span class="label label-success">Complete</span></td> 
								{%elif route.status == "in_progress"%}
								<td class="hidden-xs"><span class="label label-warning">In progress</span></td>
								{%elif route.status == "not_started"%}
								<td class="hidden-xs"><span class="label label-default">Not Started</span></td>
								{%elif route.status == "torn"%}
								<td class="hidden-xs"><span class="label label-danger">Torn</span></td>
								{%endif%}
							</tr>
							{%endfor%}
						</tbody> 
					</table>
							
					</div> <!-- /.table-responsive -->
					
				</div> <!-- /.portlet-content -->
				</div>
				</form>

			</div> <!-- /.portlet -->

		</div> <!-- /.col-md-6 -->
	</div> <!-- /.row -->
</div>
{%endblock%}
