{% extends "gym_frontend.html" %}
{% load staticfiles %}
{% block content %}

<div id="content-container">

	<div class="row">

		<div class="col-md-12">

			<div class="row">

				<div class="col-md-6">
					<div class="portlet">
						<div class="portlet-header">
							<h3>About {{gym.name}}</h3>
						</div>
						<div class="portlet-content">
							{{gym.desc|linebreaks}}
						</div>
					</div>
				</div>

				{%if gym.image%}
				<div class="col-md-6">
					<a href="{{gym.image.url}}" class="ui-lightbox">
						<img src="{{gym.image.url}}" alt="GRG Climbing" width="400" class="img-responsive" />
					</a>
				</div>
				{%endif%}
			</div>

		</div> <!-- /.col-md-12 -->

	</div> <!-- /.row -->

</div> <!-- /#content-container -->
{% endblock %}
