{% extends "gym_frontend.html" %}
{% load staticfiles %}
{% load humanize %}

{% block content %}


<div id="content-container">


	<div class="row">

		<div class="col-md-9">

			<div class="row">

				<div class="col-md-4 col-sm-5">

					{%if route.image%}<div class="thumbnail">
						<img src="{{route.image.url}}" alt="Profile Picture" />
					</div> <!-- /.thumbnail -->{%endif%}

					<div class="list-group"> 
						{%if user.is_anonymous%}
						<a href="{%url 'account_login'%}?next={{request.path|urlencode}}" class="list-group-item">
							<div id="route-rate" {%if score%}data-score="{{score}}"{%endif%} {%if user.gym%}readonly{%endif%}></div>
						</a>
						{%else%}
						<a class="list-group-item clickable">
							<div id="route-rate" {%if score%}data-score="{{score}}"{%endif%} {%if user.gym%}readonly{%endif%}></div>
						</a>
						{%endif%}
						{%if user.is_authenticated and user.gym == gym%}
						<a href="{%url 'gym_route_edit' gym=gym.slug route=route.slug%}" id="route-send" class="list-group-item{%if sent%} active{%endif%}">
							<i class="fa fa-edit"></i> &nbsp;&nbsp;
							Edit Route
						</a> 
						{%endif%}
						{%if user.is_authenticated and user.gym == None%}
						<a href="javascript:;" id="route-send" class="list-group-item{%if sent%} active{%endif%}">
							<i class="fa fa-check"></i> &nbsp;&nbsp;
							Sent it!
						</a> 

						<a href="javascript:;" id="route-favorite" class="list-group-item{%if favorited%} active{%endif%}">
							<i class="fa fa-heart"></i> &nbsp;&nbsp;
							Add to Favorites
						</a> 
						{%elif user.is_anonymous%}
						<a href="{%url 'account_login'%}?next={{request.path|urlencode}}"  class="list-group-item">
							<i class="fa fa-check"></i> &nbsp;&nbsp;
							Sent it!
						</a> 

						<a href="{%url 'account_login'%}?next={{request.path|urlencode}}" class="list-group-item">
							<i class="fa fa-heart"></i> &nbsp;&nbsp;
							Add to Favorites
						</a> 
						{%endif%}

						<a href="{%url 'gym_route_sends' gym=gym.slug route=route.slug%}" class="list-group-item">
							<i class="fa fa-list"></i> &nbsp;&nbsp;
							Sender List
						</a> 

						<a data-toggle="modal" href="#basicModal" class="list-group-item">
							<i class="fa fa-link"></i> &nbsp;&nbsp;
							Share Route
						</a> 
					</div> <!-- /.list-group -->

				</div> <!-- /.col -->


				<div class="col-md-8 col-sm-7">
					{%if route.name%}<div id="route-title">{{route.name}}</div>{%endif%}
					<div id="route-title">{{route.get_grade_display}}</div>
					{%if route.color1 != "#ffffff"%}<div class="color-box-lg" style="background-color:{{route.color1}}"></div>{%endif%}
					{%if route.color2 != "#ffffff"%}<div class="color-box-lg" style="background-color:{{route.color2}}"></div>{%endif%}
					<h4>Location: {{route.location}}</h4>
					{%if route.setter%}<h5>Set by {{route.setter.get_full_name|default:route.setter.username}}</h5>{%else%}<h5>Set by Unknown</h5>{%endif%}
					<h5>Set on {{route.date_set}}</h5>
					{%if route.date_torn%}<h5>Torn on {{route.date_torn}}</h5>{%endif%}
				</div>

			</div>

		</div>


		<div class="col-md-3 col-sm-6 col-sidebar-right">

			<h4>Route Statistics</h4>

			<div class="list-group">  

				<a href="javascript:;" class="list-group-item"><h3 class="pull-right"><i class="fa fa-eye"></i></h3>
					<h4 class="list-group-item-heading">{{route.views|intcomma}}</h4>
					<p class="list-group-item-text">Route Views</p>
					
				</a>

				<a href="{%url 'gym_route_sends' gym=gym.slug route=route.slug%}" class="list-group-item"><h3 class="pull-right"><i class="fa fa-check"></i></h3>
					{%with sends=route.sends.count%}
					<h4 class="list-group-item-heading">{{sends|intcomma}}</h4>
					<p class="list-group-item-text">Route Send{{sends|pluralize}}</p>
					{%endwith%}

				</a>
				{%with score=route.score%}
				{%if score%}
				<a href="javascript:;" class="list-group-item"><h3 class="pull-right"><i class="fa fa-star"></i></h3>
					<h4 class="list-group-item-heading">{{score|floatformat}} out of 5</h4>
					{%with count=route.rating_set.count%}
					<p class="list-group-item-text">Rating ({{count|intcomma}} vote{{count|pluralize}})</p>
					{%endwith%}

				</a>
				{%endif%}
				{%endwith%}
			</div> <!-- /.list-group -->

		</div>

	</div> <!-- /.row -->

</div> <!-- /#content-container -->
{% endblock %}
{% block modals %}
<div id="basicModal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Share This Route</h3>
      </div>
      <div class="modal-body">
        Share Link: 
        <input type="text" size="30" value="http://dynoroute.com{{request.path|urlencode}}" readonly>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
{% endblock %}
