<ul class="nav navbar-nav pull-left">
	<li>
		<a href="{%url 'home' %}">
			<i class="fa fa-home"></i> 
			Dynoroute Home
		</a>
	</li>
</ul>

<ul class="nav navbar-nav pull-right">
	<li class="dropdown">
		{%if user.is_authenticated%}
		<a class="dropdown-toggle" data-toggle="dropdown" href="javascript:;">
			<i class="fa fa-user"></i>
			{{user.get_full_name|default:user.username}}
			<span class="caret"></span>
		</a>
		{%else%}
		<a class="dropdown-toggle" href="{%url 'account_login'%}?next={{request.path|urlencode}}">
			<i class="fa fa-user"></i>
			Log In
		</a>
		{%endif%}

		<ul class="dropdown-menu" role="menu">
			{%if user.gym and user.perms.admin_view%}
			<li>
				<a href="{%url 'gym_dashboard' gym=user.gym.slug%}">
					<i class="fa fa-dashboard"></i> 
					&nbsp;&nbsp;Dashboard
				</a>
			</li>
			{%elif not user.gym%}
			<li>
				<a href="{%url 'dashboard'%}">
					<i class="fa fa-dashboard"></i> 
					&nbsp;&nbsp;Dashboard
				</a>
			</li>
			{%endif%}
			<li>
				<a href="{%url 'account_change_password'%}">
					<i class="fa fa-cogs"></i> 
					&nbsp;&nbsp;Change Password
				</a>
			</li>
			<li class="divider"></li>
			<li>
				{%if logout_next%}
				<a href="{%url 'account_logout'%}?next={{logout_next|urlencode}}">
					<i class="fa fa-sign-out"></i> 
					&nbsp;&nbsp;Logout
				</a>
				{%else%}
				<a href="{%url 'account_logout'%}?next={{request.path|urlencode}}">
					<i class="fa fa-sign-out"></i> 
					&nbsp;&nbsp;Logout
				</a>
				{%endif%}
			</li>
		</ul>
	</li>
</ul>
