{% extends "easy_pdf/base.html" %}

{% block content %}
	<div id="content">
		<div class="main">
	        <table style="font-size: 20px;"> 
	            <tr> 
	                {%if gym.named_routes%}<th align="left">Name</th>{%endif%}
	                <th align="left">Color</th> 
	                <th align="left">Grade</th> 
	                <th align="left">Location</th>
	                <th align="left">Setter</th>
	            </tr> 

	            {%for route in routes%}
	            <tr>
	                {%if gym.named_routes%}<td>{{route.name}}</td>{%endif%} 
	                <td valign="top" style="line-height: 25px;"> 
	                   	{%if route.colors%}
	                    <table style="padding-right: 5px; border: 2px solid black;">
	                    	<tr>
	                    		{%for color in route.colors%}
	                    		<td width="15" height="15" style="background-color: {{color}}; padding-right: 5px">&nbsp;</td>
	                    		{%endfor%}
	                    	</tr>
	                    </table>
	                    {%endif%}
	                </td>
	                <td>{{route.get_grade_display}}</td> 
	                <td>{{route.location}}</td>
	                <td>{{route.setter}}</td>
	            </tr>
	            {%endfor%}
	        </table>
	    </div>
	</div>
{% endblock %}
