{%extends "account/base.html"%}

{%block content%}
<h3>Welcome to Rock Gym Pro.</h3>

<h5>Please sign in to get access.</h5>

<form id="login-form" method="POST" class="form">{% csrf_token %}

  {%for error in form.non_field_errors %}
    <div class="alert alert-danger">{{ error|escape }}</div>
  {%endfor%}

  {%for error in form.login.errors %}
    <div class="alert alert-danger">{{ error|escape }}</div>
  {%endfor%}

  <div class="form-group">
    <label for="login-login">Username</label>
    <input type="text" class="form-control" id="login-login" name="login" placeholder="Username" value="{{form.login.value|default:""}}">
  </div>

  {%for error in form.password.errors %}
    <div class="alert alert-danger">{{ error|escape }}</div>
  {%endfor%}

  <div class="form-group">
    <label for="login-password">Password</label>
    <input type="password" class="form-control" id="login-password" name="password" placeholder="Password">
  </div>

  <div class="form-group">

    <button type="submit" id="login-btn" class="btn btn-primary btn-block">Signin &nbsp; <i class="fa fa-play-circle"></i></button>

  </div>
</form>

<a href="{%url 'account_reset_password'%}" class="btn btn-default">Forgot Password?</a>
{%endblock%}

{%block footer%}
<a href="{%url 'account_signup'%}" id="signup-btn" class="btn btn-lg btn-block">
  Create an Account
</a>
{%endblock%}
